# Database
DATABASE_URL="postgresql://user:password@localhost:5432/jangid_interiors"

# Admin
ADMIN_EMAIL="prashant@jangidinteriors.com"
ADMIN_PASSWORD="123456"

# Next Auth
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# Optional: Email Service
# RESEND_API_KEY="your-resend-key"
# SENDGRID_API_KEY="your-sendgrid-key"
